.modOkn{
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background:rgba(0,0,0,0.4);
    position: fixed;
    display: flex;
}
.opacit{
    opacity:1;
}
.opaciti{
    opacity:0;
}
.inp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 30px;

}
